.UpDownCounter {
    border: solid;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: auto;

}